/* .App {
  background-color: blueviolet;
  height: 100%;
  min-height: 100%;
  margin-bottom: 0;
} */

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: .25rem;
  box-shadow: 0 0 5px 2px;
  background-color: white;
  height: 300px;
  width: 300px;
  margin: 10px auto;

  /* the flip effect */
  transform: perspective(1000px) rotateY(var(--rotate-y, 0));
  /* https://www.w3schools.com/css/css3_variables.asp */
  /* perspective gives a more 3d look https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/perspective()*/
  /* https://thoughtbot.com/blog/transitions-and-transforms */
  transform-style: preserve-3d;
  /* preserve the 3d animation, so that things in the front can now go to the back */
  transition: 200ms;
  /* delay the aniimation so you can see the flipping effect */
  cursor: pointer;
}


/* remove the whitespace at the bottom */
.card:last-child{
  margin-bottom: 0;
}


/* darken the shadow of the card on hover, and move up a little bit */
.card:hover{
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
}

.card.flip{
  --rotate-y: 180deg;
  /* flip the card, but still show the front side */
}

.card .front{
  left: 0
}

.card .front, .card .back{
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden; 
  /* anything that is facing backward, aka 180deg will be hidden */
}

.card .back{
  transform: rotateY(180deg); 
  /* mirror flip the answer. Then it will be hidden by the backface-visibility: ; */
}

.card-options{
  margin-top: .5rem;
}

.option{
  margin-top: .5rem;
  color: #555;
  font-size: .75rem;
}

.option:first-child{
  margin-top: 0;
}
